.constrain-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.with-header {
  margin-top: 64px;
}

body {
  background-color: #f4f7fb;
}

.bx--form__helper-text {
  max-height: none !important; /* suck it */
}